---
- name: Disable Windows Updates
  hosts: all
  gather_facts: no
  tasks:
    - name: Disable automatic updates (Notify only)
      win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update
        name: AUOptions
        data: 2
        type: dword
        state: present

    - name: Disable recommended updates (keep only important/security)
      win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update
        name: IncludeRecommendedUpdates
        data: 0
        type: dword
        state: present

    - name: Disable featured software / optional offers
      win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update
        name: EnableFeaturedSoftware
        data: 0
        type: dword
        state: present

    - name: Prevent driver updates via Windows Update
      win_regedit:
        path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate
        name: ExcludeWUDriversInQualityUpdate
        data: 1
        type: dword
        state: present
